@charset "utf-8";

	body{
		background-color: #eeeeee;
		color: #0f0f0f;
	}

	h1{
		margin: 6px;
		margin-top: 10px;
	}

	h2{
		margin: 4px;
	}

	h3{
		/* border: 1px solid; */
		margin: 2px;
		margin-top: 10px;
	}

	.text{
		font-size: 80%;
	}

	#preview{
		overflow: scroll;
		margin: 5px;
		width: 95%;
		max-height: 400px;
	}

